
<h1>New Meet Event</h1>

<form action="/create_meet_event">
  <div>
    <p>
      <p>
    <label for="length">length</label><br />
       
    <select name="length">
       <%= options_for_select([[50, 50],[100, 100],[200, 200],[400, 400]]) %>
    </select>
        
  </div>
  <div>
    <label for="stroke">stroke</label><br />
    <select name="stroke">
      <%= options_for_select([['Fly', 'Fly'],['Back', 'Back'],['Breast', 'Breast'],['Free', 'Free']]) %>
</select>
    <p>
      <p>
    <label for="lengthtype">length type</label><br />
    <select name="lengthtype">
      <%= options_for_select([['SCM', 'SCM'],['LCM', 'LCM'],['SCY', 'SCY']]) %>
    </select>
  </div>
  <div>
    <label for="meet_id">meet_id</label><br />
    <input id="meet_id" name="meet_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

