
<center><h1>New Swim Time</h1>

<form action="/create_swim_time">
  <div>
    <label for="time">Time</label><br />
    <input id="time" name="time" type="text" />
  </div>
  <div>
    <label for="meet_event_id">Event ID</label><br />
    <input id="meet_event_id" name="meet_event_id" type="text" />
  </div>
  <div>
    <label for="attendance_id">Attendance</label><br />
    <input id="attendance_id" name="attendance_id" type="text" />
  </div>
  <div>
    <br>
    <input type="submit">
  </div>
  </form></center>

