
<center><h1>New Swimmer</h1></center>
<br>

<center><form action="/create_swimmer">
  <div>
    <label for="name">First name</label><br />
    <input id="name" name="first_name" type="text" />
  </div>
  <div>
    <div>
    <label for="name">Last name</label><br />
    <input id="name" name="last_name" type="text" />
  </div>
  <div>
    <label for="username">Username</label><br />
    <input id="username" name="username" type="text" />
  </div>
  <div>
    <label for="password">Password</label><br />
    <input id="password" name="password" type="password" />
  </div>
    <div>
    <label for="password_confirmation">Password Confirmation</label><br />
    <input id="password_confirmation" name="password_confirmation" type="password" />
  </div>
  <div>
    <div>
    <label for="name">Age</label><br />
    <input id="name" name="age" type="integer" />
  </div>
    <input type="submit">

