<h1>Swimmer #<%= @swimmer.id %></h1>

<div>
  <strong>Name</strong>:<br />
  <p><%= @swimmer.first_name %> <%= @swimmer.last_name %></p>
</div>
<div>
  <strong>Age</strong>:<br />
  <p><%= @swimmer.age %></p>
    