
<h1>New Attendance</h1>

<form action="/create_attendance">
  <div>
    <label for="meet_id">Meet ID</label><br />
    <input id="meet_id" name="meet_id" type="text" />
  </div>
  <div>
    <label for="swimmer_id">Swimmer ID</label><br />
    <input id="swimmer_id" name="swimmer_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

